.contact{
  border-top: #D8D4CC solid 1px;
  position: relative;
  .page-frame{
    position: relative;
  }
}
#contact-map{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.contact-box{
  position: absolute;
  left: 20px;
  top: 135px;
  width: 492px;
  z-index: 95;
  height: 510px;
  overflow: hidden;
  @include transition(height, 0.3s);
}
.contact-box.minimise{
  height: 30px;
  overflow: hidden;
}
.contact-header{
  background: #443B30;
  background: rgba(68, 59, 48, 0.8);
  padding: 25px 25px 15px;
  dl{
    color: $color-white;
    font-family: $font-lora;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    line-height: 31px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
  dt{
    float: left;
    height: 45px;
    margin-right: 5px;
  }
  dd{
    height: 45px;
  }
  img{
    vertical-align: middle;
    margin-right: 10px;
  }
}
.contact-form{
  padding: 25px 25px 10px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  form{
    margin: 0;
    padding: 0;
  }
  .link-toggle{
    position: absolute;
    right: 14px;
    top: 10px;
    font-size: 30px;
    line-height: 5px;
    color: $color-white;
    font-family: $font-opensans;
    font-weight: 700;
    &:hover{
      color: $color-black;
    }
  }
}
.form-row{
  margin-bottom: 0;
  padding-right: 0;
  position: relative;
  label{
    display: block;
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 10px;
    line-height: 1em;
    text-transform: uppercase;
    color: #929292;
    margin: 0;
    z-index: 1;
    opacity: 0.1;
    @include transition(all, 1s);
  }
  .textfield{
    background: none;
    border: none;
    border-bottom: #B3B3B3 solid 1px;
    font-size: 14px;
    width: 150px;
    padding: 13px 62px 5px 0;
    vertical-align: middle;
    position: relative;
    z-index: 5;
    @include transition(all, 0.2s);
  }
  .textfield:focus, textarea:focus, .textfield.valid, textarea.valid{
    outline: none;
    box-shadow: none;
    font-weight: 700;
  }
  .textfield.error{
    border-bottom: #DE5D5D solid 1px !important;
    color: #DE5D5D;
    font-weight: 700;
  }
  .textfield.error::-webkit-input-placeholder{
    color: #DE5D5D;
    font-weight: 700;
  }
  .textarea{
    background: url(../images/form-bg.png) repeat;
    background-attachment: local;
    border: none;
    width: 100%;
    font-size: 14px;
    line-height: 37px;
    padding: 9px 0;
    vertical-align: middle;
    height: 100px;
    font-family: $font-opensans;
    position: relative;
    z-index: 5;
    box-shadow: none;
    overflow: auto;
    @include transition(box-shadow, 0.1s);
  }
  .textarea.error{
    color: #DE5D5D;
  }
  .btn{
    border: none;
    background: $color-black;
    color: $color-white;
    text-align: center;
    padding: 7px 20px;
    font-size: 14px;
    margin: 15px 0 10px;
    cursor: pointer;
    @include transition(background, 0.2s);
    &:hover{
      background: $color-light-red;
    }
  }
  span.error{
    display: none !important;
  }
}
.form-row.full{
  label{
    opacity: 1;
  }
  & .textfield, & .textarea{
    box-shadow:none;
  }
}
.two-columns{
  .form-row{
    float: left;
    width: 48%;
  }
  .form-row + .form-row{
    float: right;
  }
}
.ie9, .ie8{
  .contact-box{
    height: 630px;
  }
  label{
    position: relative;
    left: auto;
    bottom: auto;
    font-size: 13px;
    text-transform: none;
    margin: 0 0 5px 15px;
  }
}
.ie8{
  label{
    margin-left: 0;
  }
}



