//Gallery
.nav-catalog{
    width: 585px;
    margin: 30px auto 0;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 6px;
    background: url('../images/nav-bg.png')50% 100% no-repeat;
    a{
        color: $color-black;
        text-decoration: none;
        + a{
            margin-left:30px;
        }
        &:hover, &.active{
            color: $color-red;
        }
    }
}
.gallery{
    margin: 22px -15px;
    .tile{
        display: block;
        float: left;
        width: 313px;
        height: 316px;
        margin: 12px;
        background: url('../images/tile-bg.png') 50% 50% no-repeat;
        background-size: 100%;
        figure{
            display: block;
            position: relative;
            width: 275px;
            height: 241px;
            overflow: hidden;
            margin: 19px auto 0;
            text-align: center;
            background: #ECECEC;
        }
        img{
            max-width: 410px;
            max-height: 410px;
            @include transition(transform 0.35s);
            @include transform-origin(50%, 100%);
        }
        &:hover{
            img{
                @include transform(scale3d(1.04,1.04,1));
            }
        }
        .thumb-wrapper{
            position: absolute;
            left: -68px;
            top: -85px;
            width: 410px;
            height: 410px;
            display: table;
            .thumb-inner{
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }
        }
        figcaption{
            display: block;
            margin: 15px 0 0;
            text-align: center;
            font-family: $font-greatvibes;
            font-size: 28px;
            line-height: 1.0em;
            color: $color-black;
            span{
                font-size: 22px;
                margin-right: 5px;
            }
        }
    }
    @include respond-to(1024, max){
        margin-left: -10px;
        margin-right: -10px;
        .tile{
            width: 31.3%;
            height: auto;
            padding-bottom: 32%;
            margin: 1%;
            position: relative;
            figure{
                position: absolute;
                left: 7%;
                top: 8%;
                width: 86%;
                height: 73%;
                margin: 0;
            }
            figcaption{
                position: absolute;
                bottom: 4%;
                width: 100%;
                text-align: center;
                margin: 0;
            }
            .thumb-wrapper{
                left: 50%;
                top: 50%;
                margin: -205px 0 0 -205px;
            }
        }
    }
    @include respond-to(768, max){
        margin-left: 20px;
        margin-right: 20px;
        .tile{
            width: 46%;
            padding-bottom: 47%;
            margin: 2%;
            figure{
                height: 75%;
            }
        }
    }
}

//Product single
.product{
    position: relative;
    @include respond-to(768, max){
        padding-bottom: 150px;
    }
}
.product-img{
    float: left;
    width: 507px;
    height: 507px;
    margin: 0;
    background: url('../images/product-bg.png') 50% 50% no-repeat;
    background-size: 100%;
    .wrapper{
        overflow: hidden;
        margin: 20px;
        width: 467px;
        height: 467px;
    }
    .inner{
        width: 720px;
        height: 720px;
        text-align: center;
        vertical-align: middle;
        line-height: 720px;
        margin: -126px 0 0 -126px;
    }
    img{
        max-width: 720px;
        max-height: 720px;
        vertical-align: middle;
    }
    @include respond-to(768, max){
        float: none;
        margin: 0 auto;
        padding-top:1px;
    }
}
.product-info{
    float: right;
    width: 430px;
    display: table;
    height: 507px;
    .inner{
        display: table-cell;
        vertical-align: bottom;
        padding-top: 45px;
    }
    h1{
        font-size: 50px;
        text-align: left;
    }
    @include respond-to(768, max){
        float: none;
        display: block;
        width: auto;
        height: auto;
        margin-bottom: 50px;
        .inner{
            display: block;
            text-align: center;
            padding-top: 0;
            width: 70%;
            margin: 0 auto;
        }
        h1{
            text-align: center;
        }
        .product-price{
            width: 70%;
            margin: 0 auto;
        }
    }
}
.product-price{
    background:url('../images/nav-bg.png')50% 0 no-repeat;
    padding: 15px 0 0;
    h4{
        float: left;
        font-family: $font-greatvibes;
        font-weight: 400;
        font-size: 30px;
        line-height: 50px;
        vertical-align: middle;
        margin: 0;
        letter-spacing: 1px;
        span{
            font-size: 24px;
        }
    }
    .btn{
        float: right;
    }
}
.prod-nav{
    position: absolute;
    right: 0;
    top: 0;
    > a{
        display: inline-block;
        width: 30px;
        height: 30px;
        border: $color-black solid 1px;
        border-radius: 100%;
        text-align: center;
        position: relative;
        white-space: nowrap;
        text-indent: -9999px;
        overflow: hidden;
        @include transition(background 0.3s);
        &:before{
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -8px 0 0 -15px;
            border: transparent solid 8px;
            border-right: $color-black solid 12px;

        }
        + a{
            margin-left: 5px;
            &:before{
                border: transparent solid 8px;
                border-left: $color-black solid 12px;
                margin: -8px 0 0 -4px;
            }
        }
        &:hover{
            background: $color-white;
        }
    }
    .cat-title{
        position: absolute;
        right: 100%;
        top: 3px;
        white-space: nowrap;
        font-style: italic;
        margin: 0 20px 0 0;
    }
    @include respond-to(768, max){
        top: auto;
        bottom: 50px;
        left: 0;
        text-align: center;
        .cat-title{
            position: relative;
            right: auto;
            top: auto;
            display: inline-block;
            margin-right: 25px;
        }
        > a{
            vertical-align: middle;
            + a{
                margin-left: 20px;
            }
        }
    }
}
