.promo {
    height: 100%;
    overflow: hidden;
    .bx-viewport, .bx-wrapper, #promo-slide {
        height: 100% !important;
    }
    .bx-controls {
        $slider-paging-margin: 10px;
        position: absolute;
        right: 70px;
        top: 50%;
        z-index: 9999;
        width: 12px;
        margin: -65px 0 0 0;
        .bx-pager-link {
            display: block;
            width: 12px;
            height: 12px;
            border: $color-white solid 1px;
            border-radius: 100%;
            margin: $slider-paging-margin;
            text-indent: -9999px;
            overflow: hidden;
        }
        .bx-pager-link.active {
            background: $color-white;
        }
        .bx-prev, .bx-next {
            position: absolute;
            display: block;
            overflow: hidden;
            text-indent: -99px;
            left: $slider-paging-margin;
            top: -15px;
            width: 14px;
            height: 14px;
            background: url(../images/icn-top.png) 50% 50% no-repeat;
        }
        .bx-next {
            top: auto;
            bottom: -15px;
            background-image: url(../images/icn-bottom.png);
        }
    }
}

.slide {
    width: 100%;
    height: 100%;
    background: $color-white;
    color: $color-white;
    .page-frame{
        position: relative;
        padding-top: 0;
        height: 100%;
    }
    .slide-content{
        position: absolute;
        text-align: center;
        h2{
            font-family: $font-greatvibes;
            font-size: 70px;
            line-height: 1.0em;
            margin: 0;
            font-weight: normal;
            text-align: center;
        }
        .btn{
            border-color: $color-white;
            color: $color-white;
            margin-left: 0;
            margin-right: 0;
            letter-spacing: 2px;
        }
    }
}

.slide.earrings {
    background: url(../images/slides/earrings.jpg) 100% 50% no-repeat;
    @include background-cover;
    .slide-content{
        right: 70px;
        top: 44%;
        .btn:hover{
            color: #71665A;
        }
    }
}

.slide.accessories {
    background: url(../images/slides/head_accessories.jpg) 100% 100% no-repeat;
    @include background-cover;
    .slide-content{
        left: 0;
        top: 34%;
        .btn:hover{
            color: #693833;
        }
    }
}

.slide.bracelets {
    background: url(../images/slides/bracelets.jpg) 100% 0% no-repeat;
    @include background-cover;
    .slide-content{
        left: 90px;
        top: 49%;
        .btn:hover{
            color: #2C2A2F;
        }
    }
}

.slide.brooches {
    background: url(../images/slides/brooches.jpg) 100% 100% no-repeat;
    @include background-cover;
    .slide-content{
        left: 0;
        top: 38%;
        .btn:hover{
            color: #595649;
        }
    }
}

.slide.necklaces {
    background: url(../images/slides/necklaces.jpg) 0% 0% no-repeat;
    @include background-cover;
    .slide-content{
        right: 0;
        top: 43%;
        .btn:hover{
            color: #512E20;
        }
    }
}







