.promo {
    height: 100%;
    overflow: hidden;
    .bx-viewport, .bx-wrapper, #promo-slide {
        height: 100% !important;
    }
    .bx-controls {
        $slider-paging-margin: 10px;
        position: absolute;
        right: 70px;
        top: 50%;
        z-index: 9999;
        width: 12px;
        margin: -65px 0 0 0;
        .bx-pager-link {
            display: block;
            width: 12px;
            height: 12px;
            border: $color-white solid 1px;
            border-radius: 100%;
            margin: $slider-paging-margin;
            text-indent: -9999px;
            overflow: hidden;
        }
        .bx-pager-link.active {
            background: $color-white;
        }
        .bx-prev, .bx-next {
            position: absolute;
            display: block;
            overflow: hidden;
            text-indent: -99px;
            left: $slider-paging-margin;
            top: -15px;
            width: 14px;
            height: 14px;
            background: url(../images/icn-top.png) 50% 50% no-repeat;
        }
        .bx-next {
            top: auto;
            bottom: -15px;
            background-image: url(../images/icn-bottom.png);
        }
    }
}

.slide {
    width: 100%;
    height: 100%;
    background: $color-white;
    color: $color-white;
    .page-frame{
    }
    .slide-content{
        position: absolute;
        top: 40%;
        h2{
            font-family: $font-greatvibes;
            font-size: 70px;
            line-height: 1.0em;
            margin: 0;
            font-weight: normal;
        }
        .btn{
            border-color: $color-white;
            color: $color-white;
        }
    }
}

.slide.s01 {
    background: url(../images/slides/bg-01.jpg) 50% 30% no-repeat;
    @include background-cover;
}

.slide.s02 {
    background: url(../images/slides/bg-02.jpg) 50% 30% no-repeat;
    @include background-cover;
}

.slide.s03 {
    background: url(../images/slides/bg-03.jpg) 50% 30% no-repeat;
    @include background-cover;
}

.slide.s04 {
    background: url(../images/slides/bg-04.jpg) 50% 30% no-repeat;
    @include background-cover;
}

.slide.s05 {
    background: url(../images/slides/bg-06.jpg) 50% 30% no-repeat;
    @include background-cover;
}







