/* line 4, ../scss/_global.scss */
.xdebug-var-dump {
  display: none; }

/* line 8, ../scss/_global.scss */
html {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0; }
  @media screen and (max-width: 1024px) {
    /* line 8, ../scss/_global.scss */
    html {
      overflow-x: hidden; } }

/* line 17, ../scss/_global.scss */
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  min-width: 1000px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  overflow-x: hidden;
  background: url(../images/bg.png);
  -webkit-font-smoothing: antialiased;
  position: relative; }
  /* line 30, ../scss/_global.scss */
  body.home {
    height: 100%; }
  @media screen and (max-width: 1024px) {
    /* line 17, ../scss/_global.scss */
    body {
      min-width: 320px;
      width: 100%; } }

/* line 38, ../scss/_global.scss */
img {
  border: none; }

/* line 41, ../scss/_global.scss */
h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2em;
  margin: 0; }

/* line 48, ../scss/_global.scss */
a {
  color: #9E2626;
  text-decoration: none;
  cursor: pointer; }
  /* line 52, ../scss/_global.scss */
  a:hover {
    color: #B53C3C;
    text-decoration: none; }

/* line 58, ../scss/_global.scss */
::-webkit-input-placeholder {
  color: #4D4D4D; }

/* line 61, ../scss/_global.scss */
:-moz-placeholder {
  color: #4D4D4D;
  /* Firefox 18- */ }

/* line 64, ../scss/_global.scss */
::-moz-placeholder {
  color: #4D4D4D;
  /* Firefox 19+ */ }

/* line 67, ../scss/_global.scss */
:-ms-input-placeholder {
  color: #4D4D4D; }

/* line 70, ../scss/_global.scss */
:focus {
  outline: none;
  box-shadow: 0 0 0 #000000; }

/* line 75, ../scss/_global.scss */
.page-frame {
  width: 1000px;
  padding: 0 20px;
  margin: 0 auto; }
  @media screen and (max-width: 1024px) {
    /* line 75, ../scss/_global.scss */
    .page-frame {
      width: auto; } }

/* line 83, ../scss/_global.scss */
.page-section {
  min-height: 100%; }

/* line 86, ../scss/_global.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

/* line 90, ../scss/_global.scss */
.clearfix:after {
  clear: both; }

/* line 93, ../scss/_global.scss */
.img-frame {
  position: relative;
  display: inline-block;
  width: 211px;
  height: 252px;
  overflow: hidden;
  padding: 16px 15px;
  margin: 25px; }
  /* line 101, ../scss/_global.scss */
  .img-frame:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/img-bg.png") 50% 50% no-repeat; }
  /* line 111, ../scss/_global.scss */
  .img-frame img {
    display: block;
    position: relative;
    z-index: 10; }

/* line 117, ../scss/_global.scss */
.page-content {
  padding-top: 230px;
  padding-bottom: 110px; }
  /* line 120, ../scss/_global.scss */
  .page-content h1 {
    text-align: center;
    margin-top: 0; }
  @media screen and (max-width: 768px) {
    /* line 117, ../scss/_global.scss */
    .page-content {
      padding-top: 150px; } }

/* line 128, ../scss/_global.scss */
.centered {
  text-align: center; }

/* line 131, ../scss/_global.scss */
.btn {
  display: inline-block;
  margin: 30px 60px 0;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  border: #000000 solid 2px;
  padding: 0 30px;
  position: relative;
  z-index: 10;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s; }
  /* line 150, ../scss/_global.scss */
  .btn:hover {
    background: #ffffff;
    color: #000000; }
  /* line 154, ../scss/_global.scss */
  .btn.dark {
    margin: 0;
    border: #000000 solid 1px;
    background: #000000;
    color: #ffffff;
    text-transform: none; }
    /* line 160, ../scss/_global.scss */
    .btn.dark:hover {
      background: #ffffff;
      color: #000000; }
  /* line 165, ../scss/_global.scss */
  .btn.loading {
    background: #ffffff;
    border-color: transparent;
    color: #ffffff;
    padding: 0;
    white-space: nowrap;
    font-size: 1px;
    width: 20px;
    height: 20px; }
    /* line 174, ../scss/_global.scss */
    .btn.loading span {
      display: none; }
    /* line 177, ../scss/_global.scss */
    .btn.loading:after {
      left: -3px;
      top: -3px;
      right: -3px;
      bottom: -3px;
      -webkit-animation: rotate-360 5s infinite; }
  @media screen and (max-width: 480px) {
    /* line 131, ../scss/_global.scss */
    .btn {
      font-size: 12px;
      padding: 0 15px;
      height: 34px;
      line-height: 34px; } }

/* line 192, ../scss/_global.scss */
.icn-close {
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
  border: #000000 solid 1px;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  /* line 204, ../scss/_global.scss */
  .icn-close:hover {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  /* line 207, ../scss/_global.scss */
  .icn-close:before {
    content: '';
    display: block;
    width: 18px;
    height: 3px;
    background: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -9px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  /* line 219, ../scss/_global.scss */
  .icn-close:after {
    content: '';
    display: block;
    width: 18px;
    height: 3px;
    background: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -9px;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }

/* line 233, ../scss/_global.scss */
.page-header .icn-nav-menu:before, .page-header .icn-nav-menu:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 3px;
  background: #000000;
  overflow: hidden;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

/* line 251, ../scss/_global.scss */
.page-header {
  position: absolute;
  left: 0;
  min-width: 1000px;
  width: 100%;
  margin-top: 0;
  z-index: 99; }
  /* line 258, ../scss/_global.scss */
  .page-header .page-frame {
    position: relative;
    margin-top: 45px;
    padding-bottom: 31px; }
    /* line 262, ../scss/_global.scss */
    .page-header .page-frame:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 14px;
      background-image: url(../images/bar.png);
      background-position: 50% 100%;
      background-repeat: no-repeat; }
  /* line 274, ../scss/_global.scss */
  .page-header .logo {
    display: block;
    float: left;
    margin-top: 17px; }
  /* line 279, ../scss/_global.scss */
  .page-header .page-nav {
    float: right;
    margin-top: 32px; }
    /* line 282, ../scss/_global.scss */
    .page-header .page-nav > a {
      font-family: "Great Vibes", cursive;
      font-weight: 400;
      font-size: 26px;
      line-height: 1em;
      color: #000000;
      margin-left: 30px;
      -moz-transition: all, 0.3s;
      -o-transition: all, 0.3s;
      -webkit-transition: all, 0.3s;
      transition: all, 0.3s; }
      /* line 290, ../scss/_global.scss */
      .page-header .page-nav > a:hover, .page-header .page-nav > a.active {
        color: #9E2626; }
  /* line 295, ../scss/_global.scss */
  .page-header .lang-nav {
    display: inline-block;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    border: #000000 solid 1px;
    padding: 0 8px;
    margin: -8px 0 0 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    /* line 305, ../scss/_global.scss */
    .page-header .lang-nav a {
      color: #000000; }
      /* line 307, ../scss/_global.scss */
      .page-header .lang-nav a + a {
        margin-left: 5px; }
      /* line 310, ../scss/_global.scss */
      .page-header .lang-nav a:hover {
        color: #9E2626; }
  /* line 315, ../scss/_global.scss */
  .page-header .icn-nav-menu {
    display: none;
    border: #000000 solid 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: -1px;
    cursor: pointer; }
    /* line 325, ../scss/_global.scss */
    .page-header .icn-nav-menu:before {
      margin: -18% 0 0 -25%; }
    /* line 329, ../scss/_global.scss */
    .page-header .icn-nav-menu:after {
      margin: 8% 0 0 -25%; }
  /* line 336, ../scss/_global.scss */
  .page-header.opened .icn-nav-menu:before {
    height: 2px;
    margin-top: -1px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  /* line 341, ../scss/_global.scss */
  .page-header.opened .icn-nav-menu:after {
    height: 2px;
    margin-top: -1px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  @media screen and (max-width: 1024px) {
    /* line 251, ../scss/_global.scss */
    .page-header {
      min-width: 100%; }
      /* line 350, ../scss/_global.scss */
      .page-header .page-frame:before {
        display: block;
        right: 20px;
        left: 20px;
        width: auto;
        background-position: 0 100%; } }
  @media screen and (max-width: 768px) {
    /* line 251, ../scss/_global.scss */
    .page-header {
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
      /* line 361, ../scss/_global.scss */
      .page-header .page-frame {
        margin-top: 25px;
        padding-bottom: 15px;
        min-height: 40px; }
        /* line 365, ../scss/_global.scss */
        .page-header .page-frame:before {
          bottom: -7px; }
      /* line 369, ../scss/_global.scss */
      .page-header .icn-nav-menu {
        display: block; }
      /* line 372, ../scss/_global.scss */
      .page-header .logo {
        float: none;
        width: 160px; }
        /* line 375, ../scss/_global.scss */
        .page-header .logo img {
          width: 100%; }
      /* line 379, ../scss/_global.scss */
      .page-header .page-nav {
        float: none;
        margin: -240px 0 0;
        padding-bottom: 20px;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0); }
        /* line 385, ../scss/_global.scss */
        .page-header .page-nav > a {
          display: block;
          text-align: center;
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          padding: 10px 0;
          margin: 0; }
      /* line 394, ../scss/_global.scss */
      .page-header .lang-nav {
        position: absolute;
        top: -36px;
        right: 55px;
        margin: 0;
        height: 30px;
        line-height: 30px; }
        /* line 405, ../scss/_global.scss */
        .page-header .lang-nav a + a {
          margin-left: 15px; }
      /* line 409, ../scss/_global.scss */
      .page-header.opened {
        background: #ffffff; }
        /* line 412, ../scss/_global.scss */
        .page-header.opened .page-frame:before {
          left: 0;
          right: 0; }
        /* line 417, ../scss/_global.scss */
        .page-header.opened .page-nav {
          margin: 0;
          display: block; } }
  @media screen and (max-width: 480px) {
    /* line 251, ../scss/_global.scss */
    .page-header {
      background: #ffffff; }
      /* line 428, ../scss/_global.scss */
      .page-header .page-frame {
        margin-top: 12px;
        padding-bottom: 8px; }
        /* line 431, ../scss/_global.scss */
        .page-header .page-frame:before {
          left: 0;
          right: 0;
          background-position: 100% 100%; }
      /* line 437, ../scss/_global.scss */
      .page-header .logo {
        width: 80px;
        height: 40px;
        overflow: hidden;
        margin: 0; }
        /* line 442, ../scss/_global.scss */
        .page-header .logo img {
          width: 190px; }
      /* line 446, ../scss/_global.scss */
      .page-header .page-nav {
        padding: 20px 0 10px; }
      /* line 449, ../scss/_global.scss */
      .page-header .lang-nav {
        top: -38px; }
      /* line 452, ../scss/_global.scss */
      .page-header .icn-nav-menu {
        top: 2px; } }

/* line 457, ../scss/_global.scss */
.home .page-header {
  background: none;
  z-index: 99999; }
  /* line 461, ../scss/_global.scss */
  .home .page-header .page-frame:before {
    background-image: url(../images/bar-white.png);
    left: 20px;
    right: 20px; }
  /* line 468, ../scss/_global.scss */
  .home .page-header .page-nav a {
    color: #ffffff; }
    /* line 470, ../scss/_global.scss */
    .home .page-header .page-nav a:hover {
      color: #9E2626; }
  /* line 475, ../scss/_global.scss */
  .home .page-header .lang-nav {
    border-color: #ffffff; }
  /* line 478, ../scss/_global.scss */
  .home .page-header:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    height: 280px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }
  /* line 490, ../scss/_global.scss */
  .home .page-header .icn-nav-menu {
    border-color: #ffffff; }
    /* line 492, ../scss/_global.scss */
    .home .page-header .icn-nav-menu:before, .home .page-header .icn-nav-menu:after {
      background: #ffffff; }
  /* line 497, ../scss/_global.scss */
  .home .page-header.opened:before {
    height: 400px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); }
  @media screen and (max-width: 480px) {
    /* line 502, ../scss/_global.scss */
    .home .page-header.opened:before {
      top: 0;
      height: 150%;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
      background-image: -moz-linear-gradient(#000000, rgba(0, 0, 0, 0));
      background-image: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0));
      background-image: linear-gradient(#000000, rgba(0, 0, 0, 0)); } }

/* line 512, ../scss/_global.scss */
.page-section .page-frame {
  padding-top: 140px; }

/* line 517, ../scss/_global.scss */
.page-footer {
  width: 740px;
  margin: 0 auto;
  padding: 15px 0 60px;
  text-align: center;
  background: url("../images/nav-bg.png") 50% 0 no-repeat;
  font-size: 14px;
  position: relative;
  z-index: 99; }
  @media screen and (max-width: 768px) {
    /* line 517, ../scss/_global.scss */
    .page-footer {
      width: auto;
      margin: 0;
      padding-bottom: 15px; }
      /* line 530, ../scss/_global.scss */
      .page-footer .contacts .facebook {
        display: none; } }

/* line 536, ../scss/_global.scss */
.contacts span, .contacts .facebook {
  display: inline-block;
  margin: 0 20px;
  padding-left: 25px;
  position: relative; }
  /* line 541, ../scss/_global.scss */
  .contacts span:before, .contacts .facebook:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 19px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("../images/icn-facebook.png"); }
  /* line 553, ../scss/_global.scss */
  .contacts span.tel:before, .contacts .facebook.tel:before {
    background-image: url("../images/icn-phone.png"); }
  /* line 556, ../scss/_global.scss */
  .contacts span.address:before, .contacts .facebook.address:before {
    background-image: url("../images/icn-map.png"); }

/* line 563, ../scss/_global.scss */
.drawer {
  position: absolute;
  right: -370px;
  top: 0;
  bottom: 0;
  width: 280px;
  padding: 75px 35px 35px;
  background: #ffffff;
  z-index: 100;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  /* line 574, ../scss/_global.scss */
  .drawer:before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background: url("../images/v-bg.png") 0 0 repeat-y;
    position: absolute;
    left: 1px;
    top: 0; }
  /* line 584, ../scss/_global.scss */
  .drawer .inner {
    width: 350px;
    position: relative; }
  /* line 588, ../scss/_global.scss */
  .drawer.opened {
    right: 0;
    width: 50%;
    margin-right: -105px; }
  /* line 594, ../scss/_global.scss */
  .drawer h3 {
    margin: 0 0 35px;
    font-weight: normal;
    font-style: italic;
    font-size: 18px;
    line-height: 1.4; }
  /* line 601, ../scss/_global.scss */
  .drawer .icn-close {
    position: absolute;
    top: 15px; }
  @media screen and (max-width: 768px) {
    /* line 606, ../scss/_global.scss */
    .drawer.opened {
      width: 63%; } }

/* line 613, ../scss/_global.scss */
.field-wrapper {
  padding: 0 22px 0 0;
  margin-bottom: 14px;
  position: relative; }
  /* line 617, ../scss/_global.scss */
  .field-wrapper.centered {
    padding-right: 0; }
  /* line 620, ../scss/_global.scss */
  .field-wrapper .field-text, .field-wrapper .text-area {
    background: #ffffff;
    border: #808080 solid 1px;
    width: 100%;
    padding: 8px 10px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0; }
  /* line 635, ../scss/_global.scss */
  .field-wrapper .field-text:focus {
    box-shadow: inset 4px 4px 0 rgba(0, 0, 0, 0.06); }
  /* line 639, ../scss/_global.scss */
  .field-wrapper .text-area {
    height: 150px; }
    /* line 642, ../scss/_global.scss */
    .field-wrapper .text-area:focus {
      box-shadow: inset 4px 4px 0 rgba(0, 0, 0, 0.06); }
  /* line 646, ../scss/_global.scss */
  .field-wrapper label.error {
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
    height: 100%;
    background: #fafafa;
    border: #000000 solid 1px;
    outline-offset: -1px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -9999px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    /* line 659, ../scss/_global.scss */
    .field-wrapper label.error:after {
      content: '!';
      text-align: center;
      vertical-align: middle;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      line-height: 40px;
      text-indent: 0;
      color: #000000;
      font-size: 18px;
      font-weight: bold;
      font-family: georgia, sans-serif; }

/* line 677, ../scss/_global.scss */
.fsuccess {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  /* line 683, ../scss/_global.scss */
  .fsuccess h3 {
    font-family: "Great Vibes", cursive;
    font-size: 64px;
    margin: 30px 0 0;
    font-weight: normal;
    line-height: 1.4;
    font-style: normal; }
  /* line 691, ../scss/_global.scss */
  .fsuccess p {
    font-size: 16px;
    margin: 0 0 55px; }
  /* line 698, ../scss/_global.scss */
  .fsuccess .btn {
    margin: 0; }
  /* line 701, ../scss/_global.scss */
  .contact-form-messages .fsuccess {
    top: 194px; }

/* line 705, ../scss/_global.scss */
.ferror {
  text-align: center;
  border: #EF3F73 solid 2px;
  padding: 8px 15px;
  font-size: 14px;
  margin: 20px 0 0; }
  /* line 711, ../scss/_global.scss */
  .contact-form-messages .ferror {
    width: 386px;
    margin: 20px auto;
    background: #ffffff; }

/* line 719, ../scss/_global.scss */
html.modal-on, .modal-on body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

/* line 724, ../scss/_global.scss */
.modal-context {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #ffffff;
  background-position: 50% 50%;
  background-size: cover; }
  /* line 734, ../scss/_global.scss */
  .modal-context:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    height: 280px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

/* line 746, ../scss/_global.scss */
.modal-title {
  color: #ffffff;
  font-family: "Great Vibes", cursive;
  font-size: 66px;
  line-height: 1;
  position: absolute;
  right: 75px;
  bottom: 30px; }

/* line 755, ../scss/_global.scss */
.modal-close {
  position: absolute;
  right: 25px;
  top: 25px;
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
  border: #ffffff solid 1px;
  border-radius: 100%;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  /* line 769, ../scss/_global.scss */
  .modal-close:hover {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  /* line 772, ../scss/_global.scss */
  .modal-close:before {
    content: '';
    display: block;
    width: 18px;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -9px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  /* line 784, ../scss/_global.scss */
  .modal-close:after {
    content: '';
    display: block;
    width: 18px;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -9px;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }

@-webkit-keyframes rotate-360 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/* line 1, ../scss/_home-promo.scss */
.promo {
  height: 100%;
  overflow: hidden;
  background: #545454; }
  /* line 5, ../scss/_home-promo.scss */
  .promo .bx-viewport, .promo .bx-wrapper, .promo #promo-slide {
    height: 100% !important; }
  /* line 8, ../scss/_home-promo.scss */
  .promo .bx-controls {
    position: absolute;
    right: 70px;
    top: 50%;
    z-index: 9999;
    width: 12px;
    margin: -65px 0 0 0; }
    /* line 16, ../scss/_home-promo.scss */
    .promo .bx-controls .bx-pager-link {
      display: block;
      width: 12px;
      height: 12px;
      border: #ffffff solid 1px;
      border-radius: 100%;
      margin: 10px;
      text-indent: -9999px;
      overflow: hidden; }
    /* line 26, ../scss/_home-promo.scss */
    .promo .bx-controls .bx-pager-link.active {
      background: #ffffff; }
    /* line 29, ../scss/_home-promo.scss */
    .promo .bx-controls .bx-prev, .promo .bx-controls .bx-next {
      position: absolute;
      display: block;
      overflow: hidden;
      text-indent: -99px;
      left: 10px;
      top: -15px;
      width: 14px;
      height: 14px;
      background: url(../images/icn-top.png) 50% 50% no-repeat; }
    /* line 40, ../scss/_home-promo.scss */
    .promo .bx-controls .bx-next {
      top: auto;
      bottom: -15px;
      background-image: url(../images/icn-bottom.png); }
    @media screen and (max-width: 1024px) {
      /* line 8, ../scss/_home-promo.scss */
      .promo .bx-controls {
        right: 30px; } }

/* line 51, ../scss/_home-promo.scss */
.slide {
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: #ffffff; }
  /* line 56, ../scss/_home-promo.scss */
  .slide .page-frame {
    position: relative;
    padding-top: 0;
    height: 100%; }
  /* line 61, ../scss/_home-promo.scss */
  .slide .slide-content {
    position: absolute;
    text-align: center; }
    /* line 64, ../scss/_home-promo.scss */
    .slide .slide-content h2 {
      font-family: "Great Vibes", cursive;
      font-size: 100px;
      line-height: 1.0em;
      margin: 0;
      font-weight: normal;
      text-align: center; }
    /* line 72, ../scss/_home-promo.scss */
    .slide .slide-content .btn {
      border-color: #ffffff;
      color: #ffffff;
      margin: 20px 0 0;
      letter-spacing: 2px; }
    @media screen and (max-width: 1024px) {
      /* line 79, ../scss/_home-promo.scss */
      .slide .slide-content h2 {
        font-size: 70px; } }
    @media screen and (max-width: 480px) {
      /* line 84, ../scss/_home-promo.scss */
      .slide .slide-content h2 {
        font-size: 50px; }
      /* line 87, ../scss/_home-promo.scss */
      .slide .slide-content .btn {
        margin-top: 5px; } }

/* line 95, ../scss/_home-promo.scss */
.slide.brooches {
  background-image: url(../images/slides/brooches.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  /* line 100, ../scss/_home-promo.scss */
  .slide.brooches .slide-content {
    left: 20px;
    top: 43%; }
    /* line 103, ../scss/_home-promo.scss */
    .slide.brooches .slide-content .btn:hover {
      color: #595649; }
  @media screen and (max-width: 1024px) {
    /* line 95, ../scss/_home-promo.scss */
    .slide.brooches {
      background-position: 77% 100%; }
      /* line 109, ../scss/_home-promo.scss */
      .slide.brooches .slide-content {
        left: 7%; } }
  @media screen and (max-width: 768px) {
    /* line 95, ../scss/_home-promo.scss */
    .slide.brooches {
      background-position: 40% 100%; }
      /* line 115, ../scss/_home-promo.scss */
      .slide.brooches .slide-content {
        left: 9%;
        top: 47%; } }
  @media screen and (max-width: 480px) {
    /* line 95, ../scss/_home-promo.scss */
    .slide.brooches {
      background-position: 57% 100%; }
      /* line 122, ../scss/_home-promo.scss */
      .slide.brooches .slide-content {
        top: auto;
        bottom: 7%; } }

/* line 129, ../scss/_home-promo.scss */
.slide.necklaces {
  background: url(../images/slides/necklaces.jpg) 0% 0% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  /* line 132, ../scss/_home-promo.scss */
  .slide.necklaces .slide-content {
    right: 30px;
    top: 43%; }
    /* line 135, ../scss/_home-promo.scss */
    .slide.necklaces .slide-content h2 {
      font-size: 77px; }
    /* line 138, ../scss/_home-promo.scss */
    .slide.necklaces .slide-content .btn:hover {
      color: #512E20; }
  @media screen and (max-width: 1024px) {
    /* line 129, ../scss/_home-promo.scss */
    .slide.necklaces {
      background-position: 30% 0; }
      /* line 144, ../scss/_home-promo.scss */
      .slide.necklaces .slide-content {
        right: 10%; } }
  @media screen and (max-width: 768px) {
    /* line 149, ../scss/_home-promo.scss */
    .slide.necklaces .slide-content {
      top: 79%; } }
  @media screen and (max-width: 480px) {
    /* line 154, ../scss/_home-promo.scss */
    .slide.necklaces .slide-content {
      top: auto;
      bottom: 7%; }
      /* line 157, ../scss/_home-promo.scss */
      .slide.necklaces .slide-content h2 {
        font-size: 50px; } }

/* line 164, ../scss/_home-promo.scss */
.slide.earrings {
  background-image: url(../images/slides/earrings.jpg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  /* line 169, ../scss/_home-promo.scss */
  .slide.earrings .slide-content {
    right: 30px;
    top: 44%; }
    /* line 172, ../scss/_home-promo.scss */
    .slide.earrings .slide-content .btn:hover {
      color: #71665A; }
  @media screen and (max-width: 1024px) {
    /* line 164, ../scss/_home-promo.scss */
    .slide.earrings {
      background-position: 55% 0; }
      /* line 178, ../scss/_home-promo.scss */
      .slide.earrings .slide-content {
        right: 19%; } }
  @media screen and (max-width: 768px) {
    /* line 183, ../scss/_home-promo.scss */
    .slide.earrings .slide-content {
      top: 65%; } }
  @media screen and (max-width: 480px) {
    /* line 164, ../scss/_home-promo.scss */
    .slide.earrings {
      background-position: 35% 0; }
      /* line 189, ../scss/_home-promo.scss */
      .slide.earrings .slide-content {
        top: auto;
        bottom: 7%;
        right: 10%; } }

/* line 197, ../scss/_home-promo.scss */
.slide.bracelets {
  background-image: url(../images/slides/bracelets.jpg);
  background-position: 100% 0%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  /* line 202, ../scss/_home-promo.scss */
  .slide.bracelets .slide-content {
    left: 30px;
    top: 42%; }
    /* line 205, ../scss/_home-promo.scss */
    .slide.bracelets .slide-content .btn:hover {
      color: #2C2A2F; }
    @media screen and (max-width: 1024px) {
      /* line 202, ../scss/_home-promo.scss */
      .slide.bracelets .slide-content {
        left: 10%; } }
  @media screen and (max-width: 1024px) {
    /* line 197, ../scss/_home-promo.scss */
    .slide.bracelets {
      background-position: 60% 0; }
      /* line 214, ../scss/_home-promo.scss */
      .slide.bracelets .slide-content {
        left: 10%; } }
  @media screen and (max-width: 768px) {
    /* line 219, ../scss/_home-promo.scss */
    .slide.bracelets .slide-content {
      top: 50%; } }
  @media screen and (max-width: 480px) {
    /* line 224, ../scss/_home-promo.scss */
    .slide.bracelets .slide-content {
      top: auto;
      bottom: 7%; } }

/* line 232, ../scss/_home-promo.scss */
.slide.accessories {
  background-image: url(../images/slides/head_accessories.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  /* line 237, ../scss/_home-promo.scss */
  .slide.accessories .slide-content {
    left: 30px;
    top: 45%; }
    /* line 240, ../scss/_home-promo.scss */
    .slide.accessories .slide-content h2 {
      font-size: 84px; }
    /* line 243, ../scss/_home-promo.scss */
    .slide.accessories .slide-content .btn:hover {
      color: #693833; }
  @media screen and (max-width: 1024px) {
    /* line 232, ../scss/_home-promo.scss */
    .slide.accessories {
      background-position: 58% 0; }
      /* line 249, ../scss/_home-promo.scss */
      .slide.accessories .slide-content {
        left: 8%; }
        /* line 251, ../scss/_home-promo.scss */
        .slide.accessories .slide-content h2 {
          font-size: 64px; } }
  @media screen and (max-width: 768px) {
    /* line 257, ../scss/_home-promo.scss */
    .slide.accessories .slide-content {
      top: 53%; } }
  @media screen and (max-width: 480px) {
    /* line 262, ../scss/_home-promo.scss */
    .slide.accessories .slide-content {
      top: auto;
      left: 10%;
      bottom: 7%;
      text-align: left; }
      /* line 267, ../scss/_home-promo.scss */
      .slide.accessories .slide-content h2 {
        text-align: left; } }

/* line 1, ../scss/_home-about.scss */
.about {
  text-align: center;
  position: relative;
  margin-bottom: -100px; }
  /* line 5, ../scss/_home-about.scss */
  .about .page-frame {
    padding-bottom: 100px; }
  /* line 8, ../scss/_home-about.scss */
  .about:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 19px;
    margin-top: -9px;
    background: url("../images/slide-bg.png") 50% 50% repeat-x; }
  /* line 18, ../scss/_home-about.scss */
  .about p {
    width: 700px;
    margin: 20px auto 45px; }

/* line 1, ../scss/_page-contact.scss */
#contact-map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2; }
  /* line 8, ../scss/_page-contact.scss */
  #contact-map:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 280px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MzYzBiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2MzYzBiNSIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3c0b5), color-stop(100%, rgba(195, 192, 181, 0)));
    background-image: -moz-linear-gradient(#c3c0b5, rgba(195, 192, 181, 0));
    background-image: -webkit-linear-gradient(#c3c0b5, rgba(195, 192, 181, 0));
    background-image: linear-gradient(#c3c0b5, rgba(195, 192, 181, 0)); }

/* line 18, ../scss/_page-contact.scss */
.overlay {
  background: url(../images/bg.png);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
  z-index: 10;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  border-top: #a3a3a3 solid 1px;
  margin-top: -1px; }

/* line 31, ../scss/_page-contact.scss */
.page-contact {
  position: relative;
  z-index: 20;
  opacity: 1;
  min-height: 400px;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s; }
  /* line 37, ../scss/_page-contact.scss */
  .page-contact .contacts {
    width: 800px;
    margin: 40px auto 50px; }
  /* line 41, ../scss/_page-contact.scss */
  .page-contact form {
    width: 420px;
    margin: 0 auto; }

/* line 47, ../scss/_page-contact.scss */
.show-map #contact-map {
  overflow: hidden; }
/* line 50, ../scss/_page-contact.scss */
.show-map .page-contact {
  opacity: 0;
  z-index: 1; }
/* line 54, ../scss/_page-contact.scss */
.show-map .overlay {
  opacity: 0;
  z-index: 1; }

/* line 59, ../scss/_page-contact.scss */
.infowindow {
  width: 200px; }
  /* line 61, ../scss/_page-contact.scss */
  .infowindow .icon-info-close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -3px;
    top: 0;
    z-index: 999999;
    cursor: pointer; }

/* line 2, ../scss/_page-gallery.scss */
.nav-catalog {
  width: 585px;
  margin: 30px auto 0;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 6px;
  background: url("../images/nav-bg.png") 50% 100% no-repeat; }
  /* line 9, ../scss/_page-gallery.scss */
  .nav-catalog a {
    color: #9E2626;
    text-decoration: none; }
    /* line 12, ../scss/_page-gallery.scss */
    .nav-catalog a + a {
      margin-left: 30px; }
    /* line 15, ../scss/_page-gallery.scss */
    .nav-catalog a:hover, .nav-catalog a.active {
      color: #000000; }
  @media screen and (max-width: 768px) {
    /* line 2, ../scss/_page-gallery.scss */
    .nav-catalog {
      width: 560px; }
      /* line 21, ../scss/_page-gallery.scss */
      .nav-catalog a + a {
        margin-left: 15px; } }

/* line 26, ../scss/_page-gallery.scss */
.gallery {
  margin: 22px -15px; }
  /* line 28, ../scss/_page-gallery.scss */
  .gallery .tile {
    display: block;
    float: left;
    width: 313px;
    height: 316px;
    margin: 12px;
    background: url("../images/tile-bg.png") 50% 50% no-repeat;
    background-size: 100%; }
    /* line 36, ../scss/_page-gallery.scss */
    .gallery .tile figure {
      display: block;
      position: relative;
      width: 275px;
      height: 241px;
      overflow: hidden;
      margin: 19px auto 0;
      text-align: center;
      background: #ECECEC; }
    /* line 46, ../scss/_page-gallery.scss */
    .gallery .tile img {
      max-width: 410px;
      max-height: 410px;
      -moz-transition: -moz-transform 0.35s;
      -o-transition: -o-transform 0.35s;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -moz-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%; }
    /* line 53, ../scss/_page-gallery.scss */
    .gallery .tile:hover img {
      -moz-transform: scale3d(1.04, 1.04, 1);
      -ms-transform: scale3d(1.04, 1.04, 1);
      -webkit-transform: scale3d(1.04, 1.04, 1);
      transform: scale3d(1.04, 1.04, 1); }
    /* line 57, ../scss/_page-gallery.scss */
    .gallery .tile .thumb-wrapper {
      position: absolute;
      left: -68px;
      top: -85px;
      width: 410px;
      height: 410px;
      display: table; }
      /* line 64, ../scss/_page-gallery.scss */
      .gallery .tile .thumb-wrapper .thumb-inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle; }
    /* line 70, ../scss/_page-gallery.scss */
    .gallery .tile figcaption {
      display: block;
      margin: 15px 0 0;
      text-align: center;
      font-family: "Great Vibes", cursive;
      font-size: 28px;
      line-height: 1.0em;
      color: #000000; }
      /* line 78, ../scss/_page-gallery.scss */
      .gallery .tile figcaption span {
        font-size: 22px;
        margin-right: 5px; }
  @media screen and (max-width: 1024px) {
    /* line 26, ../scss/_page-gallery.scss */
    .gallery {
      margin-left: -10px;
      margin-right: -10px; }
      /* line 87, ../scss/_page-gallery.scss */
      .gallery .tile {
        width: 31.3%;
        height: auto;
        padding-bottom: 32%;
        margin: 1%;
        position: relative; }
        /* line 93, ../scss/_page-gallery.scss */
        .gallery .tile figure {
          position: absolute;
          left: 7%;
          top: 8%;
          width: 86%;
          height: 73%;
          margin: 0; }
        /* line 101, ../scss/_page-gallery.scss */
        .gallery .tile figcaption {
          position: absolute;
          bottom: 4%;
          width: 100%;
          text-align: center;
          margin: 0; }
        /* line 108, ../scss/_page-gallery.scss */
        .gallery .tile .thumb-wrapper {
          left: 50%;
          top: 50%;
          margin: -205px 0 0 -205px; } }
  @media screen and (max-width: 768px) {
    /* line 26, ../scss/_page-gallery.scss */
    .gallery {
      margin-left: 20px;
      margin-right: 20px; }
      /* line 118, ../scss/_page-gallery.scss */
      .gallery .tile {
        width: 46%;
        padding-bottom: 47%;
        margin: 2%; }
        /* line 122, ../scss/_page-gallery.scss */
        .gallery .tile figure {
          height: 75%; } }
  @media screen and (max-width: 600px) {
    /* line 26, ../scss/_page-gallery.scss */
    .gallery {
      margin-left: -10px;
      margin-right: -10px; } }

/* line 134, ../scss/_page-gallery.scss */
.product {
  position: relative; }
  @media screen and (max-width: 768px) {
    /* line 134, ../scss/_page-gallery.scss */
    .product {
      padding-bottom: 150px; } }

/* line 140, ../scss/_page-gallery.scss */
.product-img {
  float: left;
  width: 507px;
  height: 507px;
  margin: 0;
  background: url("../images/product-bg.png") 50% 50% no-repeat;
  background-size: 100%; }
  /* line 147, ../scss/_page-gallery.scss */
  .product-img .wrapper {
    overflow: hidden;
    margin: 20px;
    width: 467px;
    height: 467px; }
  /* line 153, ../scss/_page-gallery.scss */
  .product-img .inner {
    width: 720px;
    height: 720px;
    text-align: center;
    vertical-align: middle;
    line-height: 720px;
    margin: -126px 0 0 -126px; }
  /* line 161, ../scss/_page-gallery.scss */
  .product-img img {
    max-width: 720px;
    max-height: 720px;
    vertical-align: middle; }
  @media screen and (max-width: 768px) {
    /* line 140, ../scss/_page-gallery.scss */
    .product-img {
      float: none;
      margin: 0 auto;
      padding-top: 1px; } }

/* line 172, ../scss/_page-gallery.scss */
.product-info {
  float: right;
  width: 430px;
  display: table;
  height: 507px; }
  /* line 177, ../scss/_page-gallery.scss */
  .product-info .inner {
    display: table-cell;
    vertical-align: bottom;
    padding-top: 45px; }
  /* line 182, ../scss/_page-gallery.scss */
  .product-info h1 {
    font-size: 50px;
    text-align: left; }
  @media screen and (max-width: 768px) {
    /* line 172, ../scss/_page-gallery.scss */
    .product-info {
      float: none;
      display: block;
      width: auto;
      height: auto;
      margin-bottom: 50px; }
      /* line 192, ../scss/_page-gallery.scss */
      .product-info .inner {
        display: block;
        text-align: center;
        padding-top: 0;
        width: 70%;
        margin: 0 auto; }
      /* line 199, ../scss/_page-gallery.scss */
      .product-info h1 {
        text-align: center; }
      /* line 202, ../scss/_page-gallery.scss */
      .product-info .product-price {
        width: 70%;
        margin: 0 auto; } }

/* line 208, ../scss/_page-gallery.scss */
.product-price {
  background: url("../images/nav-bg.png") 50% 0 no-repeat;
  padding: 15px 0 0; }
  /* line 211, ../scss/_page-gallery.scss */
  .product-price h4 {
    float: left;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    vertical-align: middle;
    margin: 0;
    letter-spacing: 1px; }
    /* line 220, ../scss/_page-gallery.scss */
    .product-price h4 span {
      font-size: 24px; }
  /* line 224, ../scss/_page-gallery.scss */
  .product-price .btn {
    float: right; }

/* line 228, ../scss/_page-gallery.scss */
.prod-nav {
  position: absolute;
  right: 0;
  top: 0; }
  /* line 232, ../scss/_page-gallery.scss */
  .prod-nav > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: #000000 solid 1px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    white-space: nowrap;
    text-indent: -9999px;
    overflow: hidden;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s; }
    /* line 244, ../scss/_page-gallery.scss */
    .prod-nav > a:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -8px 0 0 -15px;
      border: transparent solid 8px;
      border-right: #000000 solid 12px; }
    /* line 255, ../scss/_page-gallery.scss */
    .prod-nav > a + a {
      margin-left: 5px; }
      /* line 257, ../scss/_page-gallery.scss */
      .prod-nav > a + a:before {
        border: transparent solid 8px;
        border-left: #000000 solid 12px;
        margin: -8px 0 0 -4px; }
    /* line 263, ../scss/_page-gallery.scss */
    .prod-nav > a:hover {
      background: #ffffff; }
  /* line 267, ../scss/_page-gallery.scss */
  .prod-nav .cat-title {
    position: absolute;
    right: 100%;
    top: 3px;
    white-space: nowrap;
    font-style: italic;
    margin: 0 20px 0 0; }
  @media screen and (max-width: 768px) {
    /* line 228, ../scss/_page-gallery.scss */
    .prod-nav {
      top: auto;
      bottom: 50px;
      left: 0;
      text-align: center; }
      /* line 280, ../scss/_page-gallery.scss */
      .prod-nav .cat-title {
        position: relative;
        right: auto;
        top: auto;
        display: inline-block;
        margin-right: 25px; }
      /* line 287, ../scss/_page-gallery.scss */
      .prod-nav > a {
        vertical-align: middle; }
        /* line 289, ../scss/_page-gallery.scss */
        .prod-nav > a + a {
          margin-left: 20px; } }
