.xdebug-var-dump {
  display: none; }

html {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0; }
  @media screen and (max-width: 1024px) {
    html {
      overflow-x: hidden; } }

body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  min-width: 1000px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  overflow-x: hidden;
  background: url(../images/bg.png);
  -webkit-font-smoothing: antialiased;
  position: relative; }
  body.home {
    height: 100%; }
  @media screen and (max-width: 1024px) {
    body {
      min-width: 320px;
      width: 100%; } }

img {
  border: none; }

h1 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2em;
  margin: 0; }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 48px; } }

a {
  color: #9E2626;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #B53C3C;
    text-decoration: none; }

::-webkit-input-placeholder {
  color: #4D4D4D; }

:-moz-placeholder {
  color: #4D4D4D;
  /* Firefox 18- */ }

::-moz-placeholder {
  color: #4D4D4D;
  /* Firefox 19+ */ }

:-ms-input-placeholder {
  color: #4D4D4D; }

:focus {
  outline: none;
  box-shadow: 0 0 0 #000000; }

.page-frame {
  width: 1000px;
  padding: 0 20px;
  margin: 0 auto; }
  @media screen and (max-width: 1024px) {
    .page-frame {
      width: auto; } }

.page-section {
  min-height: 100%; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.img-frame {
  position: relative;
  display: inline-block;
  width: 211px;
  height: 252px;
  overflow: hidden;
  padding: 16px 15px;
  margin: 25px; }
  .img-frame:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/img-bg.png") 50% 50% no-repeat; }
  .img-frame img {
    display: block;
    position: relative;
    z-index: 10; }

.page-content {
  padding-top: 230px;
  padding-bottom: 110px; }
  .page-content h1 {
    text-align: center;
    margin-top: 0; }
  @media screen and (max-width: 1024px) {
    .page-content {
      padding-top: 150px; } }
  @media screen and (max-width: 768px) {
    .page-content {
      padding-top: 150px; } }
  @media screen and (max-width: 600px) {
    .page-content {
      padding-top: 120px; } }
  @media screen and (max-width: 480px) {
    .page-content {
      padding-top: 90px; } }

.centered {
  text-align: center; }

.btn {
  display: inline-block;
  margin: 30px 60px 0;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
  border: #000000 solid 2px;
  padding: 0 30px;
  position: relative;
  z-index: 10;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s; }
  .btn:hover {
    background: #ffffff;
    color: #000000; }
  .btn.dark {
    margin: 0;
    border: #000000 solid 1px;
    background: #000000;
    color: #ffffff;
    text-transform: none; }
    .btn.dark:hover {
      background: #ffffff;
      color: #000000; }
  .btn.loading {
    background: #ffffff;
    border-color: transparent;
    color: #ffffff;
    padding: 0;
    white-space: nowrap;
    font-size: 1px;
    width: 20px;
    height: 20px; }
    .btn.loading span {
      display: none; }
    .btn.loading:after {
      left: -3px;
      top: -3px;
      right: -3px;
      bottom: -3px;
      -webkit-animation: rotate-360 5s infinite; }

.icn-close {
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
  border: #000000 solid 1px;
  border-radius: 100%;
  position: relative;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .icn-close:hover {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .icn-close:before {
    content: '';
    display: block;
    width: 18px;
    height: 3px;
    background: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -9px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .icn-close:after {
    content: '';
    display: block;
    width: 18px;
    height: 3px;
    background: #000000;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -9px;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }

.page-header {
  position: absolute;
  left: 0;
  min-width: 1000px;
  width: 100%;
  margin-top: 0;
  z-index: 99; }
  .page-header .page-frame {
    position: relative;
    margin-top: 45px;
    padding-bottom: 31px;
    padding-top: 1px; }
    .page-header .page-frame:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 12px;
      background-image: url(../images/bar-01.svg);
      background-size: 1000px 12px;
      background-position: 50% 100%;
      background-repeat: no-repeat; }
  .page-header .logo {
    display: block;
    float: left;
    margin-top: 20px;
    width: 190px;
    height: 32px; }
    .page-header .logo img {
      width: 100%; }
  .page-header .page-nav {
    float: right;
    margin-top: 32px; }
    .page-header .page-nav > a {
      font-family: "Great Vibes", cursive;
      font-weight: 400;
      font-size: 26px;
      line-height: 1em;
      color: #000000;
      margin-left: 30px;
      -moz-transition: all, 0.3s;
      -o-transition: all, 0.3s;
      -webkit-transition: all, 0.3s;
      transition: all, 0.3s; }
      .page-header .page-nav > a:hover, .page-header .page-nav > a.active {
        color: #9E2626; }
  .page-header .lang-nav {
    display: inline-block;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    border: #000000 solid 1px;
    padding: 0 8px;
    margin: -8px 0 0 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
    .page-header .lang-nav a {
      color: #000000; }
      .page-header .lang-nav a + a {
        margin-left: 5px; }
      .page-header .lang-nav a:hover {
        color: #9E2626; }
  .page-header .icn-nav-menu {
    display: none;
    border: #000000 solid 1px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer; }
    .page-header .icn-nav-menu:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 6px;
      height: 6px;
      margin: -4px 0 0 -4px;
      border-right: #000000 solid 1px;
      border-bottom: #000000 solid 1px;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 65% 65%;
      -moz-transform-origin: 65% 65%;
      -ms-transform-origin: 65% 65%;
      -o-transform-origin: 65% 65%;
      transform-origin: 65% 65%; }
  .page-header.opened .icn-nav-menu:after {
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  @media screen and (max-width: 1024px) {
    .page-header {
      min-width: 100%; }
      .page-header .page-frame {
        margin-top: 10px; }
        .page-header .page-frame:before {
          display: block;
          right: 20px;
          left: 20px;
          width: auto;
          background-position: 0 100%; } }
  @media screen and (max-width: 768px) {
    .page-header {
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
      .page-header .page-frame {
        margin-top: 25px;
        padding-bottom: 15px;
        min-height: 40px; }
        .page-header .page-frame:before {
          bottom: -7px; }
      .page-header .icn-nav-menu {
        display: block; }
      .page-header .logo {
        float: none;
        width: 160px;
        margin-top: 5px; }
        .page-header .logo img {
          width: 100%; }
      .page-header .page-nav {
        float: none;
        margin: -300px 0 0;
        padding-bottom: 20px;
        text-align: center;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0); }
        .page-header .page-nav > a {
          display: block;
          text-align: center;
          font-family: "Open Sans", sans-serif;
          font-size: 18px;
          padding: 10px 0;
          margin: 0; }
      .page-header .lang-nav {
        margin: 15px 0;
        border: none; }
        .page-header .lang-nav a {
          display: inline-block;
          width: 30px;
          height: 30px;
          line-height: 30px;
          vertical-align: middle;
          border: #000000 solid 1px;
          border-radius: 50%;
          font-size: 13px;
          letter-spacing: 1px; }
          .page-header .lang-nav a + a {
            margin-left: 15px; }
      .page-header.opened {
        background: #ffffff; }
        .page-header.opened .page-frame:before {
          left: 0;
          right: 0; }
        .page-header.opened .page-nav {
          margin: 0;
          display: block; } }
  @media screen and (max-width: 480px) {
    .page-header {
      background: #ffffff; }
      .page-header .page-frame {
        margin-top: 12px;
        padding-bottom: 8px; }
        .page-header .page-frame:before {
          left: 0;
          right: 0;
          background-position: 100% 100%; }
      .page-header .logo {
        width: 87px;
        height: 43px;
        overflow: hidden;
        margin: 0; }
        .page-header .logo img {
          width: 210px;
          height: 35px;
          display: block; }
      .page-header .page-nav {
        padding: 20px 0 10px; }
      .page-header .lang-nav {
        top: -38px; } }

.home .page-header {
  background: none;
  z-index: 99999; }
  .home .page-header .page-frame:before {
    display: none;
    background-image: url(../images/bar-white.png); }
  .home .page-header .page-nav a {
    color: #ffffff; }
    .home .page-header .page-nav a:hover {
      color: #9E2626; }
  .home .page-header .lang-nav {
    border-color: #ffffff; }
    .home .page-header .lang-nav a {
      border-color: #ffffff; }
  .home .page-header:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    height: 280px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0); }
  .home .page-header .icn-nav-menu {
    border-color: #ffffff;
    right: 35px; }
    .home .page-header .icn-nav-menu:after {
      border-right-color: #ffffff;
      border-bottom-color: #ffffff; }
  .home .page-header.opened:before {
    height: 400px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); }
  @media screen and (max-width: 480px) {
    .home .page-header.opened:before {
      top: 0;
      height: 150%;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
      background-image: -moz-linear-gradient(#000000, rgba(0, 0, 0, 0));
      background-image: -webkit-linear-gradient(#000000, rgba(0, 0, 0, 0));
      background-image: linear-gradient(#000000, rgba(0, 0, 0, 0)); } }
  @media screen and (max-width: 768px) {
    .home .page-header:before {
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
      background-size: 100%;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.9)), color-stop(100%, rgba(0, 0, 0, 0)));
      background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
      background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)); }
    .home .page-header .page-frame {
      margin-top: 30px; }
    .home .page-header .logo {
      margin-left: 15px; } }
  @media screen and (max-width: 480px) {
    .home .page-header .page-frame:before {
      left: 20px;
      right: 20px; } }

.page-section .page-frame {
  padding-top: 140px; }

.page-footer {
  width: 740px;
  margin: 0 auto;
  padding: 15px 0 60px;
  text-align: center;
  background: url("../images/nav-bg.png") 50% 0 no-repeat;
  font-size: 14px;
  position: relative;
  z-index: 99; }
  @media screen and (max-width: 768px) {
    .page-footer {
      width: auto;
      margin: 0;
      padding-bottom: 15px; }
      .page-footer .contacts .facebook {
        display: none; } }

.contacts span, .contacts .facebook {
  display: inline-block;
  margin: 0 20px;
  padding-left: 25px;
  position: relative; }
  .contacts span:before, .contacts .facebook:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 19px;
    height: 19px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url("../images/icn-facebook.png"); }
  .contacts span.tel:before, .contacts .facebook.tel:before {
    background-image: url("../images/icn-phone.png"); }
  .contacts span.address:before, .contacts .facebook.address:before {
    background-image: url("../images/icn-map.png"); }

.drawer {
  position: absolute;
  right: -370px;
  top: 0;
  bottom: 0;
  width: 280px;
  padding: 75px 35px 35px;
  background: #ffffff;
  z-index: 100;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .drawer:before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background: url("../images/v-bg.png") 0 0 repeat-y;
    position: absolute;
    left: 1px;
    top: 0; }
  .drawer .inner {
    width: 350px;
    position: relative; }
  .drawer.opened {
    right: 0;
    width: 50%;
    margin-right: -105px; }
  .drawer h3 {
    margin: 0 0 35px;
    font-weight: normal;
    font-style: italic;
    font-size: 18px;
    line-height: 1.4; }
  .drawer .icn-close {
    position: absolute;
    top: 15px; }
  @media screen and (max-width: 768px) {
    .drawer.opened {
      width: 63%; } }
  @media screen and (max-width: 600px) {
    .drawer.opened {
      width: 100%;
      margin-right: -65px; } }
  @media screen and (max-width: 480px) {
    .drawer {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px; }
      .drawer.opened {
        margin-right: 0; }
      .drawer:before {
        display: none; }
      .drawer .inner {
        width: auto; } }

.field-wrapper {
  padding: 0 22px 0 0;
  margin-bottom: 14px;
  position: relative; }
  .field-wrapper.centered {
    padding-right: 0; }
  .field-wrapper .field-text, .field-wrapper .text-area {
    background: #ffffff;
    border: #808080 solid 1px;
    width: 100%;
    padding: 8px 10px;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0; }
  .field-wrapper .field-text:focus {
    box-shadow: inset 4px 4px 0 rgba(0, 0, 0, 0.06); }
  .field-wrapper .text-area {
    height: 150px; }
    .field-wrapper .text-area:focus {
      box-shadow: inset 4px 4px 0 rgba(0, 0, 0, 0.06); }
  .field-wrapper label.error {
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
    height: 100%;
    background: #fafafa;
    border: #000000 solid 1px;
    outline-offset: -1px;
    overflow: hidden;
    white-space: nowrap;
    text-indent: -9999px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .field-wrapper label.error:after {
      content: '!';
      text-align: center;
      vertical-align: middle;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      line-height: 40px;
      text-indent: 0;
      color: #000000;
      font-size: 18px;
      font-weight: bold;
      font-family: georgia, sans-serif; }

.fsuccess {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  .fsuccess h3 {
    font-family: "Great Vibes", cursive;
    font-size: 64px;
    margin: 30px 0 0;
    font-weight: normal;
    line-height: 1.4;
    font-style: normal; }
  .fsuccess p {
    font-size: 16px;
    margin: 0 0 55px; }
  .fsuccess .btn {
    margin: 0; }
  .contact-form-messages .fsuccess {
    top: 194px; }

.ferror {
  text-align: center;
  border: #EF3F73 solid 2px;
  padding: 8px 15px;
  font-size: 14px;
  margin: 20px 0 0; }
  .contact-form-messages .ferror {
    width: 386px;
    margin: 20px auto;
    background: #ffffff; }

html.modal-on, .modal-on body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.modal-context {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #ffffff;
  background-position: 50% 50%;
  background-size: cover; }
  .modal-context:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    height: 280px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }

.modal-title {
  color: #ffffff;
  font-family: "Great Vibes", cursive;
  font-size: 66px;
  line-height: 1;
  position: absolute;
  right: 75px;
  bottom: 30px; }

.modal-close {
  position: absolute;
  right: 25px;
  top: 25px;
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
  border: #ffffff solid 1px;
  border-radius: 100%;
  cursor: pointer;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .modal-close:hover {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .modal-close:before {
    content: '';
    display: block;
    width: 18px;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -9px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .modal-close:after {
    content: '';
    display: block;
    width: 18px;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -9px;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }

@-webkit-keyframes rotate-360 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.promo {
  height: 100%;
  overflow: hidden;
  background: #545454; }
  .promo .bx-viewport, .promo .bx-wrapper, .promo #promo-slide {
    height: 100% !important; }
  .promo .bx-controls {
    position: absolute;
    right: 70px;
    top: 50%;
    z-index: 9999;
    width: 12px;
    margin: -65px 0 0 0; }
    .promo .bx-controls .bx-pager-link {
      display: block;
      width: 12px;
      height: 12px;
      border: #ffffff solid 1px;
      border-radius: 100%;
      margin: 10px;
      text-indent: -9999px;
      overflow: hidden; }
    .promo .bx-controls .bx-pager-link.active {
      background: #ffffff; }
    .promo .bx-controls .bx-prev, .promo .bx-controls .bx-next {
      position: absolute;
      display: block;
      overflow: hidden;
      text-indent: -99px;
      left: 13px;
      top: -8px;
      width: 7px;
      height: 7px;
      border-top: #ffffff solid 1px;
      border-right: #ffffff solid 1px;
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .promo .bx-controls .bx-next {
      top: auto;
      bottom: -8px;
      -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg); }
    @media screen and (max-width: 1024px) {
      .promo .bx-controls {
        right: 30px; } }

.slide-mode-h .bx-controls {
  right: auto;
  top: auto;
  bottom: 0;
  left: 50%;
  margin: 0 0 10px -50px;
  width: 100px; }
  .slide-mode-h .bx-controls .bx-pager-link {
    width: 8px;
    height: 8px;
    margin: 5px;
    float: left; }
  .slide-mode-h .bx-controls .bx-prev {
    top: 6px;
    left: -7px;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .slide-mode-h .bx-controls .bx-next {
    top: 6px;
    right: -7px;
    bottom: auto;
    left: auto;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
@media screen and (max-width: 480px) {
  .slide-mode-h .bx-controls {
    display: none; } }

.slide {
  width: 100%;
  height: 100%;
  color: #ffffff; }
  .slide .page-frame {
    position: relative;
    padding-top: 0;
    height: 100%; }
  .slide .slide-content {
    position: absolute;
    text-align: center; }
    .slide .slide-content h2 {
      font-family: "Great Vibes", cursive;
      font-size: 100px;
      line-height: 1.0em;
      margin: 0;
      font-weight: normal;
      text-align: center; }
    .slide .slide-content .btn {
      border-color: #ffffff;
      color: #ffffff;
      margin: 20px 0 0;
      letter-spacing: 2px; }
    @media screen and (max-width: 1024px) {
      .slide .slide-content h2 {
        font-size: 70px; } }
    @media screen and (max-width: 480px) {
      .slide .slide-content h2 {
        font-size: 50px; }
      .slide .slide-content .btn {
        margin-top: 5px;
        background: #ffffff;
        color: #000000;
        font-size: 12px;
        padding: 0 15px;
        height: 34px;
        line-height: 34px; } }

.slide.brooches {
  background-image: url(../images/slides/brooches.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .slide.brooches .slide-content {
    left: 20px;
    top: 43%; }
    .slide.brooches .slide-content .btn:hover {
      color: #595649; }
  @media screen and (max-width: 1024px) {
    .slide.brooches {
      background-position: 77% 100%; }
      .slide.brooches .slide-content {
        left: 7%; } }
  @media screen and (max-width: 768px) {
    .slide.brooches {
      background-position: 40% 100%; }
      .slide.brooches .slide-content {
        left: 9%;
        top: 47%; } }
  @media screen and (max-width: 480px) {
    .slide.brooches {
      background-position: 57% 100%; }
      .slide.brooches .slide-content {
        top: auto;
        bottom: 7%;
        text-align: left; }
        .slide.brooches .slide-content h2 {
          text-align: left; }
        .slide.brooches .slide-content .btn {
          color: #464844; } }

.slide.necklaces {
  background: url(../images/slides/necklaces.jpg) 0% 0% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .slide.necklaces .slide-content {
    right: 30px;
    top: 43%; }
    .slide.necklaces .slide-content h2 {
      font-size: 77px; }
    .slide.necklaces .slide-content .btn:hover {
      color: #512E20; }
  @media screen and (max-width: 1024px) {
    .slide.necklaces {
      background-position: 30% 0; }
      .slide.necklaces .slide-content {
        right: 10%; } }
  @media screen and (max-width: 768px) {
    .slide.necklaces .slide-content {
      top: 76%; } }
  @media screen and (max-width: 480px) {
    .slide.necklaces .slide-content {
      top: auto;
      bottom: 7%;
      text-align: right; }
      .slide.necklaces .slide-content h2 {
        font-size: 50px;
        text-align: right;
        margin-left: 10px; }
      .slide.necklaces .slide-content .btn {
        color: #412317; } }

.slide.earrings {
  background-image: url(../images/slides/earrings.jpg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .slide.earrings .slide-content {
    right: 30px;
    top: 44%; }
    .slide.earrings .slide-content .btn:hover {
      color: #71665A; }
  @media screen and (max-width: 1024px) {
    .slide.earrings {
      background-position: 55% 0; }
      .slide.earrings .slide-content {
        right: 19%; } }
  @media screen and (max-width: 768px) {
    .slide.earrings .slide-content {
      top: 65%; } }
  @media screen and (max-width: 480px) {
    .slide.earrings {
      background-position: 35% 0; }
      .slide.earrings .slide-content {
        top: auto;
        bottom: 7%;
        right: 10%;
        text-align: right; }
        .slide.earrings .slide-content h2 {
          text-align: right; }
        .slide.earrings .slide-content .btn {
          color: #6F6A60; } }

.slide.bracelets {
  background-image: url(../images/slides/bracelets.jpg);
  background-position: 100% 0%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .slide.bracelets .slide-content {
    left: 30px;
    top: 42%; }
    .slide.bracelets .slide-content .btn:hover {
      color: #2C2A2F; }
    @media screen and (max-width: 1024px) {
      .slide.bracelets .slide-content {
        left: 10%; } }
  @media screen and (max-width: 1024px) {
    .slide.bracelets {
      background-position: 60% 0; }
      .slide.bracelets .slide-content {
        left: 10%; } }
  @media screen and (max-width: 768px) {
    .slide.bracelets .slide-content {
      top: 50%; } }
  @media screen and (max-width: 480px) {
    .slide.bracelets .slide-content {
      top: auto;
      bottom: 7%;
      text-align: left; }
      .slide.bracelets .slide-content h2 {
        text-align: left; }
      .slide.bracelets .slide-content .btn {
        color: #71402B; } }

.slide.accessories {
  background-image: url(../images/slides/head_accessories.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .slide.accessories .slide-content {
    left: 30px;
    top: 45%; }
    .slide.accessories .slide-content h2 {
      font-size: 84px; }
    .slide.accessories .slide-content .btn:hover {
      color: #693833; }
  @media screen and (max-width: 1024px) {
    .slide.accessories {
      background-position: 58% 0; }
      .slide.accessories .slide-content {
        left: 8%; }
        .slide.accessories .slide-content h2 {
          font-size: 64px; } }
  @media screen and (max-width: 768px) {
    .slide.accessories .slide-content {
      top: 53%; } }
  @media screen and (max-width: 480px) {
    .slide.accessories .slide-content {
      top: auto;
      left: 10%;
      bottom: 7%;
      text-align: left; }
      .slide.accessories .slide-content h2 {
        text-align: left;
        font-size: 54px; }
      .slide.accessories .slide-content .btn {
        color: #71402B; } }

.about {
  text-align: center;
  position: relative;
  margin-bottom: -100px; }
  .about .page-frame {
    padding-bottom: 100px; }
  .about:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 19px;
    margin-top: -9px;
    background: url("../images/slide-bg.png") 50% 50% repeat-x; }
  .about p {
    width: 700px;
    margin: 20px auto 45px; }

#contact-map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2; }
  #contact-map:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 280px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MzYzBiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2MzYzBiNSIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3c0b5), color-stop(100%, rgba(195, 192, 181, 0)));
    background-image: -moz-linear-gradient(#c3c0b5, rgba(195, 192, 181, 0));
    background-image: -webkit-linear-gradient(#c3c0b5, rgba(195, 192, 181, 0));
    background-image: linear-gradient(#c3c0b5, rgba(195, 192, 181, 0)); }

.overlay {
  background: url(../images/bg.png);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
  z-index: 10;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  border-top: #a3a3a3 solid 1px;
  margin-top: -1px; }

.page-contact {
  position: relative;
  z-index: 20;
  opacity: 1;
  min-height: 400px;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  transition: all 0.7s; }
  .page-contact .contacts {
    width: 800px;
    margin: 40px auto 50px; }
  .page-contact form {
    width: 420px;
    margin: 0 auto; }
  @media screen and (max-width: 840px) {
    .page-contact .contacts {
      width: auto; } }
  @media screen and (max-width: 480px) {
    .page-contact .contact-form-messages .ferror {
      width: auto; }
    .page-contact form {
      width: auto; } }

.show-map #contact-map {
  overflow: hidden; }
.show-map .page-contact {
  opacity: 0;
  z-index: 1; }
.show-map .overlay {
  opacity: 0;
  z-index: 1; }

.infowindow {
  width: 200px; }
  .infowindow .icon-info-close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -3px;
    top: 0;
    z-index: 999999;
    cursor: pointer; }

.nav-catalog {
  width: 585px;
  margin: 30px auto 0;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 6px;
  background-image: url("../images/nav-bg.png");
  background-position: 50% 100%;
  background-repeat: no-repeat; }
  .nav-catalog a {
    color: #9E2626;
    text-decoration: none; }
    .nav-catalog a + a {
      margin-left: 30px; }
    .nav-catalog a:hover, .nav-catalog a.active {
      color: #000000; }
  @media screen and (max-width: 768px) {
    .nav-catalog {
      width: 560px; }
      .nav-catalog a + a {
        margin-left: 15px; } }
  @media screen and (max-width: 600px) {
    .nav-catalog {
      width: auto;
      max-width: 350px;
      padding: 40px 0 0;
      overflow: hidden;
      position: relative;
      background-position: 50% -2px;
      background-color: #ffffff; }
      .nav-catalog a {
        text-align: left;
        display: none;
        padding: 5px 10px;
        margin: 0; }
        .nav-catalog a + a {
          margin: 0; }
        .nav-catalog a.active {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          padding-top: 10px; }
      .nav-catalog:after {
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;
        width: 7px;
        height: 7px;
        margin: -4px 0 0 -4px;
        border-right: #000000 solid 1px;
        border-bottom: #000000 solid 1px;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 65% 65%;
        -moz-transform-origin: 65% 65%;
        -ms-transform-origin: 65% 65%;
        -o-transform-origin: 65% 65%;
        transform-origin: 65% 65%; }
      .nav-catalog.opened:after {
        -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg); }
      .nav-catalog.opened a {
        display: block; } }

.gallery {
  margin: 22px -15px; }
  .gallery .tile {
    display: block;
    float: left;
    width: 313px;
    height: 316px;
    margin: 12px;
    background: url("../images/tile-bg.png") 50% 50% no-repeat;
    background-size: 100%; }
    .gallery .tile figure {
      display: block;
      position: relative;
      width: 275px;
      height: 241px;
      overflow: hidden;
      margin: 19px auto 0;
      text-align: center;
      background: #ECECEC; }
    .gallery .tile img {
      max-width: 410px;
      max-height: 410px;
      -moz-transition: -moz-transform 0.35s;
      -o-transition: -o-transform 0.35s;
      -webkit-transition: -webkit-transform 0.35s;
      transition: transform 0.35s;
      -moz-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%; }
    .gallery .tile:hover img {
      -moz-transform: scale3d(1.04, 1.04, 1);
      -ms-transform: scale3d(1.04, 1.04, 1);
      -webkit-transform: scale3d(1.04, 1.04, 1);
      transform: scale3d(1.04, 1.04, 1); }
    .gallery .tile .thumb-wrapper {
      position: absolute;
      left: -68px;
      top: -85px;
      width: 410px;
      height: 410px;
      display: table; }
      .gallery .tile .thumb-wrapper .thumb-inner {
        display: table-cell;
        text-align: center;
        vertical-align: middle; }
    .gallery .tile figcaption {
      display: block;
      margin: 15px 0 0;
      text-align: center;
      font-family: "Great Vibes", cursive;
      font-size: 28px;
      line-height: 1;
      vertical-align: middle;
      color: #000000; }
      .gallery .tile figcaption span {
        font-size: 0.75em;
        margin-right: 5px; }
  @media screen and (max-width: 1024px) {
    .gallery {
      margin-left: -10px;
      margin-right: -10px; }
      .gallery .tile {
        width: 31.3%;
        height: auto;
        padding-bottom: 32%;
        margin: 1%;
        position: relative; }
        .gallery .tile figure {
          position: absolute;
          left: 7%;
          top: 8%;
          width: 86%;
          height: 73%;
          margin: 0; }
        .gallery .tile figcaption {
          position: absolute;
          bottom: 9.5%;
          width: 100%;
          text-align: center;
          overflow: hidden;
          margin: 0 0 -14px; }
        .gallery .tile .thumb-wrapper {
          left: 50%;
          top: 50%;
          margin: -205px 0 0 -205px; } }
  @media screen and (max-width: 768px) {
    .gallery {
      margin-left: 20px;
      margin-right: 20px; }
      .gallery .tile {
        width: 46%;
        padding-bottom: 47%;
        margin: 2%; }
        .gallery .tile figure {
          height: 75%; }
        .gallery .tile figcaption {
          bottom: 8.5%; } }
  @media screen and (max-width: 600px) {
    .gallery {
      margin-left: -8px;
      margin-right: -8px; }
      .gallery .tile {
        width: 48%;
        padding-bottom: 49%;
        margin: 1%; }
        .gallery .tile figcaption {
          font-size: 24px;
          margin-bottom: -12px; } }
  @media screen and (max-width: 480px) {
    .gallery .tile figcaption {
      font-size: 20px;
      margin-bottom: -10px; } }
  @media screen and (max-width: 320px) {
    .gallery {
      margin-left: -4px;
      margin-right: -4px; }
      .gallery .tile {
        width: 100%;
        padding-bottom: 101%;
        margin: 0 0 4%; }
        .gallery .tile figure {
          height: 75%; }
        .gallery .tile figcaption {
          bottom: 8.5%;
          font-size: 24px;
          margin-bottom: -12px; } }

.product {
  position: relative; }

.product-img-frame {
  float: left;
  width: 507px;
  height: 507px;
  margin: 0;
  position: relative;
  background: url("../images/product-bg.svg") 50% 50% no-repeat;
  background-size: 100%; }
  .product-img-frame .product-img {
    position: absolute;
    left: 4%;
    top: 4%;
    width: 92%;
    height: 92%;
    overflow: hidden; }
  .product-img-frame .product-price {
    display: none; }
  .product-img-frame .inner {
    width: 720px;
    height: 720px;
    text-align: center;
    vertical-align: middle;
    line-height: 720px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -360px 0 0 -360px; }
  .product-img-frame img {
    max-width: 720px;
    max-height: 720px;
    vertical-align: middle; }
  @media screen and (max-width: 1024px) {
    .product-img-frame {
      width: 55%;
      height: auto;
      padding-bottom: 55%; } }
  @media screen and (max-width: 768px) {
    .product-img-frame {
      float: none;
      margin: 0 auto 160px;
      width: 507px;
      padding-bottom: 507px; }
      .product-img-frame .product-img {
        height: 84%; }
      .product-img-frame .product-price {
        display: block;
        position: absolute;
        top: 89%;
        width: 100%;
        text-align: center;
        background: none;
        padding: 0; }
        .product-img-frame .product-price h4 {
          float: none;
          margin-bottom: 30px; }
        .product-img-frame .product-price .btn {
          float: none; } }
  @media screen and (max-width: 600px) {
    .product-img-frame {
      width: 100%;
      padding-bottom: 100%; } }
  @media screen and (max-width: 480px) {
    .product-img-frame {
      margin-bottom: 190px; }
      .product-img-frame .product-price {
        top: 88%; }
        .product-img-frame .product-price h4 {
          font-size: 22px;
          margin-bottom: 5%; } }
  @media screen and (max-width: 320px) {
    .product-img-frame .product-price {
      top: 85%; } }

.product-info {
  float: right;
  width: 430px;
  display: table;
  height: 507px; }
  .product-info .inner {
    display: table-cell;
    vertical-align: bottom;
    padding-top: 45px; }
  .product-info h1 {
    font-size: 50px;
    text-align: left; }
  @media screen and (max-width: 1024px) {
    .product-info {
      width: 40%;
      height: auto; }
      .product-info .inner {
        position: absolute;
        bottom: 0;
        width: 40%; } }
  @media screen and (max-width: 768px) {
    .product-info {
      float: none;
      display: block;
      width: auto;
      margin-bottom: 30px;
      position: relative;
      z-index: 2;
      padding-bottom: 0; }
      .product-info .inner {
        position: static;
        bottom: auto;
        display: block;
        text-align: center;
        padding-top: 0;
        width: 70%;
        margin: 0 auto; }
      .product-info h1 {
        text-align: center;
        font-size: 70px; } }
  @media screen and (max-width: 600px) {
    .product-info {
      position: static; }
      .product-info .inner {
        width: auto; } }
  @media screen and (max-width: 480px) {
    .product-info h1 {
      margin: 10px 0 -5px; }
    .product-info p {
      margin-top: 0; } }

.product-price {
  background: url("../images/nav-bg.png") 50% 0 no-repeat;
  padding: 15px 0 0; }
  .product-price h4 {
    float: left;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    vertical-align: middle;
    margin: 0;
    letter-spacing: 1px; }
    .product-price h4 span {
      font-size: 0.75em; }
  .product-price .btn {
    float: right; }
  @media screen and (max-width: 768px) {
    .product-price {
      display: none; } }

.prod-nav {
  position: absolute;
  right: 0;
  top: 0; }
  .prod-nav > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: #000000 solid 1px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    white-space: nowrap;
    text-indent: -9999px;
    overflow: hidden;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    -webkit-transition: background 0.3s;
    transition: background 0.3s; }
    .prod-nav > a:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -8px 0 0 -15px;
      border: transparent solid 8px;
      border-right: #000000 solid 12px; }
    .prod-nav > a + a {
      margin-left: 5px; }
      .prod-nav > a + a:before {
        border: transparent solid 8px;
        border-left: #000000 solid 12px;
        margin: -8px 0 0 -4px; }
    .prod-nav > a:hover {
      background: #ffffff; }
  .prod-nav .cat-title {
    position: absolute;
    right: 100%;
    top: 3px;
    white-space: nowrap;
    font-style: italic;
    margin: 0 20px 0 0; }
  @media screen and (max-width: 768px) {
    .prod-nav {
      top: auto;
      bottom: 0;
      left: 0;
      text-align: center; }
      .prod-nav .cat-title {
        position: relative;
        right: auto;
        top: auto;
        display: inline-block;
        margin-right: 25px; }
      .prod-nav > a {
        vertical-align: middle; }
        .prod-nav > a + a {
          margin-left: 20px; } }
  @media screen and (max-width: 480px) {
    .prod-nav .cat-title {
      display: block;
      margin-right: 0;
      margin-bottom: 20px; } }
